<div class = "card-body" align = "center">
    <div class = "col-5">
        <form (ngSubmit) = "differentiate(poly)" name = "equation">
            <br><input id = "equation" class = "form-control" name = "equation" [(ngModel)] = "poly"/><br>
            <button class = "btn btn-outline-success">Differentiate</button>
        </form>
    </div>
    <br>
    <div class = "col-5" align = "center">
        <p>
            {{poly}}
        </p>
        <p>
           {{differential}}
        </p>
    </div>
</div>