<div class = "card-body" align = "center">
    <p>Enter the equation like this: x6 + 5x5 + 2x + 7 </p>
    <p>Please <font color = "red">DO NOT</font> enter it like: x^6 + 5x^5 + 2x + 7</p>
    <div class = "col-5">
        <form (ngSubmit) = "differentiate(poly)">
            <br><input id = "equation" class = "form-control" name = "equation" [(ngModel)] = "poly"/><br>
            <button class = "btn btn-outline-success" type="submit">Differentiate</button>
        </form>
    </div>
    <br>
    <div class = "col-5" align = "center">
        <p>
            <label>y = </label>
            {{poly}}
        </p>
        <p>
           <label>dy/dx = </label>
            {{differential}}
        </p>
    </div>
</div>