<div class = "card-body" align = "center">
    <p>Enter the equation like this: <font color = "blue">x6 + 5x5 + 2x + 7</font></p>
    <p>Please <font color = "red">DO NOT</font> enter it like: x^6 + 5x^5 + 2x + 7</p>
    <p>For negative terms, write like this: <font color = "blue">x6 + -10x8 + -9x9 + 10</font></p>
    <p>Please <font color = "red">DO NOT</font> enter it like: x6 - 10x8 - 9x9 + 10</p>
    <div class = "col-5">
        <form (ngSubmit) = "differentiate(poly)">
            <br><input id = "equation" class = "form-control" name = "equation" [(ngModel)] = "poly"/><br>
            <button class = "btn btn-outline-success" type="submit" *ngIf = "poly !== ''">Differentiate</button>
        </form>
    </div>
    <br>
    <div class = "col-5" align = "center">
        <p>
            <label>y = </label>
            {{displayPoly}}
        </p>
        <p>
            <label>dy/dx = </label>
            {{displayDifferential}}
        </p>
    </div>
</div>