<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Quadratic Equation Solver</title>
</head>
<body>

    <header>
        <h4>Quadratic Equation Solver</h4>
    </header>

    <div class = "card-body">
        <div class = "col-5">
            <form>
                <input>
                <button>Factorise</button>
            </form>
        </div>

        <div id = "answer_factorised" class = "col-5">

        </div>

        <div id = "answer_solved" class = "col-5">
            
        </div>

    </div>

</body>
</html>