<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Quadratic Equation Solver</title>
</head>
<body>

    <div class = "card-body" align = "center">
        <p>If your equation is: x<sup>2</sup> - 5x + 6,</p>
        <p>then a = 1, b = -5 and c = 6</p>
        <p>So '1' in the 1<sup>st</sup> box, '-5' in the 2<sup>nd</sup> and '6' in the 3<sup>rd</sup></p>
        <div id = "inputs" class = "col-5">
            <form (ngSubmit) = "discriminant(a, b, c)">
                <div class = "card-body">
                    <input id = "a" class = "form-control" name = "a" [(ngModel)] = "a" style = "width: 75px">
                    <p> 
                        &nbsp;
                        x<sup>2</sup>
                    </p>
                    <input id = "b" class = "form-control" name = "b" [(ngModel)] = "b" style = "width: 75px">
                    <p> 
                        &nbsp;
                        x
                    </p>
                    <input id = "c" class = "form-control" name = "c" [(ngModel)] = "c" style = "width: 75px"><br> = 0
                </div>
                <div>
                    <button class = "btn btn-outline-success btn-sm" (click) = "showSolutions()">Solve</button>
                </div>
            </form>
        </div>

        <div id = "answer_factorised" class = "col-5" *ngIf = "solution1 < 0 && solution2 > 0">
            (x + {{factor1}}) (x - {{factor2}})
        </div>
        <div id = "answer_factorised" class = "col-5" *ngIf = "solution1 > 0 && solution2 < 0">
            (x - {{factor1}}) (x  + {{factor2}})
        </div>
        <div id = "answer_factorised" class = "col-5" *ngIf = "solution1 < 0 && solution2 < 0">
            (x + {{factor1}}) (x + {{factor2}})
        </div>
        <div id = "answer_factorised" class = "col-5" *ngIf = "solution1 > 0 && solution2 > 0">
            (x - {{factor1}}) (x - {{factor2}})
        </div>

        <div id = "answer_solved1" class = "col-5" *ngIf = "solutionDiv && solution1 !== solution2 && disc >= 0">
            Solutions: x = {{solution1}} or x = {{solution2}}
        </div>
        <div id = "answer_solved2" class = "col-5" *ngIf = "solutionDiv && solution1 === solution2 && disc >= 0">
            Solutions: x = {{solution1}}
        </div>
        <div id = "error" class = "col-5" *ngIf = "disc < 0">
            {{error}}
        </div>

    </div>

</body>
</html>