<header id = "options">
    <button id = "qdr" class = "btn btn-danger" routerLink = "/quadratic">Quadratic Equation Solver</button>&nbsp;&nbsp;&nbsp;
    <button id = "dif" class = "btn btn-info" routerLink = "/differentiate">Differentiator</button>&nbsp;&nbsp;&nbsp;
    <button id = "ing" class = "btn btn-success" routerLink = "/integrate">Integrator</button>&nbsp;&nbsp;&nbsp;
    <button id = "bex" class = "btn btn-warning" routerLink = "/binomial">Binomial Expansion</button>
</header>
<router-outlet></router-outlet>