<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Calculus Solver</title>
</head>
<body>
    <header>
        <h4>Differentiator</h4>
    </header>

    <div id = "calculator" class = "card-body" align = "center">
        <div id = "polynomial" class = "col-5">
            <form action = "/">
                <input class = "form-control" required><br>
                <button class = "btn btn-info btn-sm">Differentiate</button>
            </form>
        </div>
        <br>
        <br>
        <div id = "answer-box" class = "col-5">
            
        </div>
    </div>
</body>
</html>